/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: PingFang TC;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  color: #3F5D45;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.navbar .logo a {
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
  background-repeat: no-repeat;
  width: 211.22px;
  height: 40px;
}

.navbar .logo img {
  display: block;
}

.navbar .dropdownMenu {
  display: none;
}

.navbar .cartBtn {
  display: none;
}

.navbar .navbarList {
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbarList li {
  margin-right: 60px;
}

.navbar .navbarList li a {
  color: #3F5D45;
  padding: 12px 0;
}

.navbar .navbarList li a:hover {
  -webkit-box-shadow: 0 5px #3F5D45;
          box-shadow: 0 5px #3F5D45;
}

.navbar .navbarList li:nth-last-child(2) {
  margin-right: 79px;
}

.navbar .navbarList li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo a {
    background-image: url("../webLayoutTraining1st-master/student-week1/logotype-lg-dark.svg");
    width: 114px;
    height: 18px;
  }
  .navbar .cartBtn {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navbar .dropdownMenu {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navbar .navbarList {
    display: none;
  }
}

.subscribe {
  margin: 0 auto;
  background: #3F5D45;
  padding: 0px 122px;
}

.subscribe img {
  display: block;
}

.subscribe .container {
  max-width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe .subscribeLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 124px;
}

.subscribe .subscribeLeft p {
  color: white;
  font-size: 24px;
}

.subscribe .subscribeLeft img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.subscribe .inputGroup {
  max-width: 380px;
  background: #EAF0ED;
  display: table;
  border-collapse: collapse;
  margin: 30px 0px;
}

.subscribe .inputGroup > div {
  display: table-cell;
  vertical-align: middle;
}

.subscribe .inputGroup .inputWrap input {
  background: #EAF0ED;
  border: 0px;
  width: 100%;
  font-size: 24px;
}

.subscribe .inputGroup input:focus {
  outline: none;
}

.subscribe .inputGroup .inputIcon {
  width: 64px;
  height: 56px;
}

.subscribe .inputGroup .emailIcon {
  padding: 16px 20px;
}

.subscribe .inputGroup .arrowIcon {
  background: #FFE180;
  padding: 20px 24px;
}

@media (max-width: 992px) {
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  .subscribe .subscribeLeft {
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .subscribe .subscribeRight {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .subscribe {
    padding: 28px 60px;
  }
}

@media (max-width: 575px) {
  .subscribe {
    padding: 0 30px;
  }
}

.footer {
  background: #EAF0ED;
  padding: 28px 122px;
}

.footer .footerContainer {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer .footerContainer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer img {
  display: block;
}

.footer .footerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
}

.footer .footerLeft .footerLogo {
  width: 171px;
  margin-bottom: 115.5px;
}

.footer .footerLeft .footerContactTxt {
  line-height: 1.5rem;
  color: #3F5D45;
  margin-bottom: 30px;
}

.footer .footerLeft .footerIconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footerLeft .footerIconList img {
  width: 32px;
  margin-right: 8px;
}

.footer .footerRight {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #3F5D45;
}

.footer .footerRight .footerSlogn {
  width: 60px;
  height: 219px;
}

@media (max-width: 768px) {
  .footer {
    padding: 28px 60px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding: 28px 0px;
  }
  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 0 30px 30px;
  }
  .footerContainer .footerLeft {
    margin-bottom: 23px;
  }
  .footerContainer .footerLeft .footerLogo {
    margin-bottom: 39px;
  }
  .footerContainer .footerRight {
    width: auto;
  }
  .footerContainer .footerRight .footerSlogn {
    display: none;
  }
}

.banner {
  margin-bottom: 60px;
}

.banner img {
  display: block;
}

@media (max-width: 575px) {
  .banner {
    margin-bottom: 0px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.main .category {
  width: 300px;
  font-size: 24px;
  text-align: center;
}

.main .category .categoryTitle {
  background: #3F5D45;
  padding: 20.5px 0px;
  color: white;
  font-weight: bolder;
}

.main .category .categoryList li.active {
  background: #EAF0ED;
}

.main .category .categoryList li {
  background: white;
  border: 1px solid #EAF0ED;
}

.main .category .categoryList a {
  line-height: 31.5px;
  display: block;
  padding: 16px 0px;
  color: #3F5D45;
  font-weight: bolder;
}

.main .category .categoryList a:hover {
  color: white;
  background: #3F5D45;
}

@media (max-width: 992px) {
  .main .category {
    width: 100%;
  }
  .main .categoryTitle {
    margin-bottom: 15px;
  }
  .main .categoryList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 46px;
  }
  .main .categoryList li {
    width: 49.5%;
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .main .category .categoryTitle {
    margin-bottom: 0px;
  }
  .main .category .categoryList {
    margin-bottom: 30px;
  }
  .main .category .categoryList li {
    width: 100%;
    margin-bottom: 0;
  }
}

.main .product {
  width: 620px;
}

.main .product .productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .product .productList li {
  margin-bottom: 20px;
  border: 1px solid #EAF0ED;
  text-align: center;
  position: relative;
}

.main .product .productList li img {
  display: block;
}

.main .product .productList li .tag {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 10px;
  background: #3F5D45;
  color: white;
  font-weight: bolder;
  letter-spacing: 5px;
  left: 20px;
}

.main .product .productList li .favorite {
  position: absolute;
  right: 20px;
  top: 16px;
}

.main .product .productList li .favorite img {
  width: 24px;
  height: 24px;
}

.main .product .productList li .productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  line-height: 26px;
}

.main .product .productList li .productInfo h3 {
  width: 173px;
  padding: 14px 0px;
  border: 1px solid #EAF0ED;
}

.main .product .productList li .productInfo span {
  width: 127px;
  padding: 14px 0px;
  border: 1px solid #EAF0ED;
}

.main .product .productList li .addCart {
  display: block;
  font-size: 24px;
  line-height: 34px;
  padding: 16px 0px;
  color: #3F5D45;
  font-weight: bolder;
  background: #EAF0ED;
}

.main .product .productList li .addCart:hover {
  color: #EAF0ED;
  background: #3F5D45;
}

.main .product .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px;
}

.main .product .pagination li:first-child a, .main .product .pagination li:last-child a {
  padding: 17.25px;
}

.main .product .pagination a {
  border: 1px solid #EAF0ED;
  padding: 19px 24px;
  display: block;
  color: #3F5D45;
}

.main .product .pagination a img {
  display: block;
}

.main .product .pagination .active {
  background: #3F5D45;
}

.main .product .pagination .active a {
  color: white;
  border: 1px solid #3F5D45;
}

@media (max-width: 992px) {
  .main .product {
    width: 100%;
  }
  .main .product .productList {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .product .productList li {
    width: 45%;
  }
  .main .product .productList li img {
    width: 100%;
  }
  .main .product .productList li .productInfo h3 {
    width: 60%;
  }
  .main .product .productList li .productInfo span {
    width: 40%;
  }
  .main .product .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .main .product .productList li {
    width: 84%;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .main {
    margin-bottom: 30px;
  }
}

.invoiceMain {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoiceMain .invoiceForm {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 58%;
  background: #3F5D45;
  padding: 30px 40px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
  position: relative;
}

.invoiceMain .invoiceForm .invoiceFormTitle {
  color: white;
  font-size: 36px;
  font-weight: bolder;
  width: 50%;
  height: 40px;
  margin-bottom: 30px;
}

.invoiceMain .invoiceForm .invoiceFormProcess {
  width: 50%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #EAF0ED;
}

.invoiceMain .invoiceForm .invoiceFormProcess hr {
  border: 1px solid #EAF0ED;
  width: 69px;
  margin: 0;
}

.invoiceMain .invoiceForm .invoiceFormProcess i:last-child {
  font-size: 14px;
  color: #3F5D45;
  background: #EAF0ED;
  border-radius: 50%;
  border: 1.5px solid #EAF0ED;
}

@media (max-width: 768px) {
  .invoiceMain .invoiceForm .invoiceFormProcess hr {
    width: 120px;
  }
}

.invoiceMain .invoiceForm .invoiceFormChioce {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.invoiceMain .invoiceForm .invoiceFormChioce a {
  text-align: center;
  display: block;
  width: 50%;
  padding: 14px 0px;
  color: #EAF0ED;
  border: 1px solid #EAF0ED;
  font-size: 20px;
  font-weight: bolder;
  background: transparent;
}

.invoiceMain .invoiceForm .invoiceFormChioce a.active {
  background: #EAF0ED;
  color: #3F5D45;
}

.invoiceMain .invoiceForm .invoiceFromInputgroup {
  width: 100%;
  margin-bottom: 16px;
}

.invoiceMain .invoiceForm .invoiceFromInputgroup label {
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.invoiceMain .invoiceForm .invoiceFromInputgroup input {
  width: 100%;
  padding-left: 20px;
  background: #EAF0ED;
  border: 0px;
  height: 56px;
}

.invoiceMain .invoiceForm .invoiceFormSubmit {
  position: absolute;
  width: 100%;
  bottom: -63px;
  left: 0px;
  background: #FFE180;
  font-size: 24px;
  font-weight: bolder;
  color: #3F5D45;
  padding: 19px 0 13px 0;
  margin: 0;
  border: 1px solid transparent;
  outline: none;
}

.invoiceMain .invoiceForm .invoiceFromInputgroup::last-child {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .invoiceMain .invoiceForm {
    width: 80%;
    margin: 0 auto 82px auto;
  }
}

@media (max-width: 375px) {
  .invoiceMain .invoiceForm {
    width: 100%;
    margin-bottom: 0px;
  }
}

.invoiceMain .invoiceOrder {
  width: 40%;
}

.invoiceMain .invoiceOrderSection {
  border: 1px solid #EAF0ED;
  padding: 16px 20px;
}

.invoiceMain .invoiceOrderTitle {
  text-align: center;
  font-size: 24px;
  color: #8DA291;
  background: #EAF0ED;
  font-weight: bolder;
  padding: 16px 0;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney {
  margin-bottom: 20px;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney table, .invoiceMain .invoiceOrderSection.invoiceOrderMoney tbody {
  display: block;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney tr td {
  display: block;
  width: 50%;
  color: #8DA291;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney tr td:nth-child(even) {
  text-align: right;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney tr:last-nth-child(2) {
  margin-bottom: 16px;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney .total {
  margin-top: 16px;
}

.invoiceMain .invoiceOrderSection.invoiceOrderMoney .total td {
  font-size: 20px;
  color: #8DA291;
  font-weight: bolder;
}

.invoiceMain .invoiceOrder .invoiceOrderSection.invoiceOrderList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  background-size: cover;
}

.invoiceMain .invoiceOrder .invoiceOrderSection.invoiceOrderList li img {
  width: 120px;
  height: 80px;
  margin-right: 20px;
}

.invoiceMain .invoiceOrder .invoiceOrderSection.invoiceOrderList li .invoiceOrderListTxt {
  color: #8DA291;
  line-height: 20px;
}

.invoiceMain .invoiceOrder .invoiceOrderSection.invoiceOrderList li .money {
  margin-top: 3px;
  font-size: 20px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .invoiceMain .invoiceOrder {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .invoiceMain .invoiceOrder {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */