
.footer{
   
    background: $primary-light;
    padding:28px 122px;
    

    .footerContainer{
        max-width:780px;
        margin:0 auto;
        display:flex;
        justify-content: space-between;


        @include pad{
            justify-content: space-around;
        }
    }

    img{
        display:block;
    }


    .footerLeft{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 9px;

        .footerLogo{
            width: 171px;
            margin-bottom: 115.5px;
        }

        .footerContactTxt{
            line-height: 1.5rem;
            color:$primary-dark;
            margin-bottom: 30px;
		}
		
		.footerIconList{
			display:flex;
		   img{
			width: 32px;
			margin-right: 8px;
		   }
		}

    }
    .footerRight{
        width: 300px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        color:$primary-dark;
        .footerSlogn{
            width: 60px;
            height: 219px;
        }
    }

    @include pad{
        padding:28px 60px;
    }

    
}


@media(max-width:375px){
    .footer{
        padding: 28px 0px;
    }
    
	.footerContainer{
		
		flex-direction: column;
		align-items: flex-start;
		padding:0px 0 30px 30px;
	

		.footerLeft{
			margin-bottom: 23px;
			.footerLogo{
				margin-bottom: 39px;
			}
		}

		.footerRight{
			width: auto;
			.footerSlogn{
				display:none;
			}
		}
	}
}